@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');
@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-banner-quadrosquare-caps/css/bpg-banner-quadrosquare-caps.min.css");


@font-face {
    font-family: 'techno hideo';
    src: url(fonts/techno_hideo/techno_hideo.ttf);
}
@font-face {
    font-family: 'square';
    src: url(fonts/aldo_the_apache/AldotheApache.ttf);
}

@font-face{
    font-family: 'georgian';
    src: url(fonts/georgian/69_tall.ttf);
}

@font-face {
    font-family: 'hello world';
    src: url(fonts/hello_world/hello-world.ttf);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: 'ArchyEDT-Bold';
    resize: none;
    text-transform: uppercase;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #181818 ;
    cursor: url(img/cursor.png), auto;
}


.header {
    color: #fff;
    height: 100px;
    padding: 20px;
    width: 100%;
  }
  
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: fixed;
    padding: 12px 20px;
    background: linear-gradient(black, rgba(0, 0, 0, 0.7), transparent);
    z-index: 999;
}
.logo img {
    width: 35px;
    margin-right: 5px;
}


.logo a{
    font-size: 40px;
    display: flex;
    align-items: center;
    color: #d15c04;
}
.logo a span{
    color: transparent;
    -webkit-text-stroke: 1px #d15c04;

}
.menu{
    align-items: center;
}

.menu li a{
    font-size: 30px;
    margin: 0 15px;
}
.not-active-li{
    outline: 1px solid #d15c04;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.3s;
}
.not-active-li:hover{
    background-color: rgb(42, 42, 42);
}
  

  .active-li {
    position: relative;
    transition: border-color 0.3s ease;
  }
  
  .active-li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
  }
  
  .active-li:hover::before {
    width: 100%;
    background-color: #d15c04;
  }
  



.menu {
    display: flex;
}


.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {
    display: none;
}
.menu li a{
    color: #d15c04;
}


@media(max-width: 1150px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.2s ease-in-out;
        backdrop-filter: blur(15px);
        background-color: #0000007b;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
    .change-language-img{
        margin-top: 30px;
    }

}

.change-language-img{
    transition: 0.5s;
}
.change-language-img:hover{
    transform: rotate(360deg);
}



/* Main */

main #home-sec{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;
}
main .home-text-div{
    text-align: center;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 100px;
}

main .home-text-div h1{
    font-size: 130px;
    text-align: justify;
    color: transparent;
    -webkit-text-stroke: 1.5px #d15c04;
    text-align: center;
    margin-bottom: 50px;
    animation: floatwin 3s ease-in-out infinite;
}
@keyframes floatwin {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }

@media screen and (max-width:500px){
    main .home-text-div h1{
        font-size: 80px;
    }
}



main .home-text-div a{
    color: #d15c04;
    font-size: 25px;
    padding: 20px;
    border: 2px solid #d15c04;
    border-radius: 20px;
    background-color: #d15c040e;
    transition: 0.5s;
    animation: colorchange 2s ease-in-out infinite;
}

@keyframes colorchange {
  0% {
    box-shadow:0 0 10px #d15d0400;
  }
  50% {
    box-shadow:0 0 20px #d15c04;
  }
  100% {
    box-shadow:0 0 10px #d15d0400;
  }
}

main .home-text-div a:hover{
    box-shadow: 0 0 10px orange;
}


#typewriter span{
    text-shadow:0 0 10px #d15c04;
}







/* About section */

#about-sec{
    background-color: #000000;
    padding: 50px;
    height: auto;
  }

#about-sec div{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-bottom: 50px;
}
#about-sec h1{
    font-size: 50px;
    margin: 40px 0;
    color: transparent;
    -webkit-text-stroke: 1px #d15c04;
    text-align: center;
}
#about-sec #about-image{
    margin: 0 auto;
    animation: floatwin 3s ease-in-out infinite;

}
#about-sec p{
    font-size: 35px;
    text-align: center;
    color: #d15c04;
}

@media screen and (min-width:1090px){
    #about-sec p{
        width: 55%;
    }
}

@media screen and (max-width:1090px){
    #about-sec div{
        flex-direction: column;
        text-align: center;
    }
    #about-sec{
        text-align: center;
    }
    #about-sec p{
        padding-top: 20px;
    }
}


@media screen and (max-width: 650px){
    #about-sec #about-image{
        width: 400px;
        height: 400px;
        margin: 0 auto;
        border-radius: 20px;
    }
}
@media screen and (max-width: 510px){
    #about-sec #about-image{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-radius: 20px;
    }
}
@media screen and (max-width: 450px){
    #about-sec #about-image{
        width: 250px;
        height: 250px;
        margin: 0 auto;
        border-radius: 20px;
    }
}

@media screen and (max-width: 380px){
    #about-sec #about-image{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 20px;
    }
    #about-sec p{
        padding-top: 2em;
        font-size: 20px;
        margin-top: 40px;
        text-align: justify;
        margin: 0 auto;
    }
    #about-sec h1{
        font-size: 30px;
        margin: 40px 0;
    }
}

@media screen and (max-width: 310px){
    #about-sec #about-image{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 20px;
    }
    #about-sec p{
        padding-top: 2em;
        font-size: 15px;
        margin-top: 40px;
        margin: 0 auto;
    }
    #about-sec h1{
        font-size: 20px;
        margin: 40px 0;
    }
}









#contact-sec #parent-div a {
    color: rgb(100, 100, 100);
    font-size: 20px;
}

#contact-sec #parent-div h1{
    color: rgb(100, 100, 100);
    font-size: 40px;
}


#contact-sec #parent-div .gmail-div,
#contact-sec #parent-div .facebook-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgb(53, 53, 53);
    padding: 20px
}

#contact-sec #parent-div a,
#contact-sec #parent-div a{
    font-size: 50px;
}

#contact-logos-div a div img{
     width: 35px;
     height: auto;
     margin-right: 20px;
}
#contact-logos-div a{
    color: transparent;
    -webkit-text-stroke: 0.99px #d15c04;
    font-size: 35px;
    border: 2px solid #d15c04;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
}
#contact-logos-div a div{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 620px){
    #contact-logos-div a{
        font-size: 20px;
    }
}
@media screen and (max-width: 450px){
    #contact-logos-div a{
        font-size: 15px;
    }
}


@media screen and (max-width: 1060px){
    #contact-sec #parent-div .gmail-div,
    #contact-sec #parent-div .facebook-div {
    flex-direction: column;
    }
}

@media screen and (max-width:800px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 45px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 35px;
    }
}

@media screen and (max-width:750px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 20px;
    }

    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 30px;
    }
}
@media screen and (max-width:650px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 35px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 25px;
    }
}
@media screen and (max-width:675px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 30px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
}
@media screen and (max-width:500px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 25px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
}
@media screen and (max-width:435px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
}
@media screen and (max-width:370px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 19px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 19px;
    }
}


/* Feedback */



#feedback-sec {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding: 50px 15px;
    flex-wrap: wrap;
    padding-top: 100px !important;
    margin-bottom: 50px;
  }
  
  #feedback-text-div h1 {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
    color: none;
    -webkit-text-stroke: 2px #d15c04;
    text-transform: uppercase;
  }
  
  #feedback-text-div p {
    font-size: 40px;
    color: #d15c04;
  }
  
  #contact-logos-div {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }
  .contact-logos-div div{
    background-color: 2px solid red;
  }
  #contact-logos-div a{transition: 0.5s;}
  #contact-logos-div a:hover {
    transform: scale(1.1);
  }
  
  #contact-logos-div a img {
    width: 40px;
    height: 40px;
  }
  
  #feedback-div {
    background-color: #151515;
    padding: 40px;
    border-radius: 30px;
    box-shadow: inset 0 0 10px #000000;
  }
  
  #feedback-div h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: transparent;
    -webkit-text-stroke: 2px #d15c04;
    text-transform: uppercase;
    text-align: center;
  }
  
  #feedback-div form {
    text-align: center;
  }
  
  #feedback-div input[type="text"],
  #feedback-div input[type="email"],
  #feedback-div textarea {
    border: 1px solid #522400;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    color: rgb(150, 150, 150);
  }
  
  #feedback-div input[type="text"]:nth-of-type(1) {
    margin-right: 20px;
  }
  
  #feedback-div textarea {
    height: 150px;
  }
  
  #feedback-div button {
    background-color: #232323;
    color: #444444;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    height: 70px;
  }
  
  #feedback-div button:hover{
    background-color: #000000;
  }
  
  #message {
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
    color: #3a3a3a;
  }

input, textarea{
    background-color: transparent;
}
  

@media screen and (max-width: 1223px){
    #feedback-text-div{
        text-align: center;
    }
}

@media screen and (max-width: 680px){
    #feedback-text-div p{
        font-size: 30px;
    }
}
@media screen and (max-width: 470px){
    #feedback-text-div p{
        font-size: 20px;
    }
    #feedback-text-div h1{
        font-size: 50px;
    }
}



/* footer */

footer{
    background-color: #0c0c0c;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
}


footer p{
    color: #d15c04;
    font-size: 15px;
}


@media screen and (max-width: 600px){
    footer p{
        color: grey;
        font-size: 10px;
    }
}

footer{
    overflow-y: hidden;
}


#banner-sec{
    height: 200px;
    width: 100%;
    background-color: #0000;
}




/* Animations */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }




/* Loading */


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  

.container img{
    width: 50px;
    animation: spin 1s infinite;
}
@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.container h2:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #d15c04;
    border-right: 2px solid #d15c04;
    overflow: hidden;
    animation: animate 1s  linear infinite;
}

@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}


/* scrollbar */

::-webkit-scrollbar {
    background-color: #1b1b1b;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #383838;
}


  


/* back */
body{
    background-color: #000000;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(1);
}
.home-sec video {
    width: 100%;
    height: 100%;
}
.home-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}





/* ----------- */
