@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;

}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #181818 ;
}
.header {
    color: #fff;
    height: 100px;
    padding: 20px;
    width: 100%;
  }
  
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px 20px;
}
.logo img {
    width: 250px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 30px;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a{
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    position: relative;
    color: #11ff00;
}

.menu li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0BA300;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  
.menu li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {
    display: none;
}


.change-language-img{
    transition: 1s;
    animation: spin;
}

.change-language-img:hover{
    transform: rotate(360deg);
}

@media(max-width: 1150px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: rgb(16, 16, 16);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
    .change-language{
        padding-left: 30px;
    }

}

@media (max-width:550px){
    .nav-bar .logo img{
        width: 200px;
    }
    .change-language{
        padding-left: 30px;
    }
}

@media (max-width:350px){
    .nav-bar .logo img{
        width: 150px;
    }
    .change-language{
        padding-left: 20px;
    }
}



/* Main */


main .home-sec{
    background-image:url(img/back.png);
    background-color: black;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
main .home-sec div{
    margin: 0 auto;
    text-align: center;
    overflow-y: hidden;
}
main .home-sec div h1{
    color: #23980e;
    font-size: 30px;
}
main .home-sec div p{
    color: #009E1D;
    padding-bottom: 20px;
}
main .home-sec div h1 span{
    color: #00FF11;
    font-size: 100px;
}

main .banner-sec{
    width: 100%;
    height: 200px;
    background-color: #040404;
}



main .home-sec img {
    cursor: pointer;
    animation: moveUpDown 2s infinite;
}




@media screen and (max-width: 700px){
    main .home-sec div h1 span{
        font-size: 5rem;
    }
}

@media screen and (max-width: 550px){
    main .home-sec div h1 span{
        font-size: 4rem;
    }
    main .home-sec div h1{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px){
    main .home-sec div h1 span{
        font-size: 3.5rem;
    }
    main .home-sec div h1{
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px){
    main .home-sec div h1 span{
        font-size: 3rem;
    }
    main .home-sec div h1{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 300px){
    main .home-sec div h1 span{
        font-size: 2rem;
    }
    main .home-sec div h1{
        font-size: 0.5rem;
    }
}






/* About section */

#about-sec{
    background-color: #030305;
    padding: 50px;
    height: auto;
  }

#about-sec div{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-bottom: 50px;
}
#about-sec h1{
    font-size: 50px;
    margin: 40px 0;
    color: rgb(100, 100, 100);
    text-align: center;
}
#about-sec .about-image{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 20px;
}
#about-sec p{
    font-size: 25px;
    text-align: center;
    color: rgb(100, 100, 100);
}

@media screen and (min-width:1090px){
    #about-sec p{
        width: 55%;
    }
}

@media screen and (max-width:1090px){
    #about-sec div{
        flex-direction: column;
        text-align: center;
    }
    #about-sec{
        text-align: center;
    }
    #about-sec p{
        padding-top: 20px;
    }
}


@media screen and (max-width: 650px){
    #about-sec .about-image{
        width: 400px;
        height: 400px;
        margin: 0 auto;
        border-radius: 20px;
    }
}
@media screen and (max-width: 510px){
    #about-sec .about-image{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-radius: 20px;
    }
}
@media screen and (max-width: 450px){
    #about-sec .about-image{
        width: 250px;
        height: 250px;
        margin: 0 auto;
        border-radius: 20px;
    }
}

@media screen and (max-width: 380px){
    #about-sec .about-image{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 20px;
    }
    #about-sec p{
        padding-top: 2em;
        font-size: 20px;
        margin-top: 40px;
        text-align: justify;
        margin: 0 auto;
    }
    #about-sec h1{
        font-size: 30px;
        margin: 40px 0;
    }
}

@media screen and (max-width: 310px){
    #about-sec .about-image{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 20px;
    }
    #about-sec p{
        padding-top: 2em;
        font-size: 15px;
        margin-top: 40px;
        margin: 0 auto;
    }
    #about-sec h1{
        font-size: 20px;
        margin: 40px 0;
    }
}




/* Team */

#team-sec {
    text-align: center;
    background-color: #030305;
}

.title {
    font-size: 40px;
    margin: 3em 0  10px 0;
    color: rgb(100, 100, 100);
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15%;
}


.team-card {
    width: 20%;
    margin: 20px;
    padding: 50px 10px;
    text-align: center;
    background-color: #121212;
    box-shadow: 0.1px 0.1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: 1s;
}
.team-card:hover{
    background-color: #202020;
}

.team-card p{
    font-size: 20px;
    color: rgb(159, 159, 159);
}
.team-card h1{
    font-size: 30px;
    color: rgb(174, 174, 174);
}

.guest {
    width: 50%;
}

.guest-name {
    font-size: 24px;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .team-card {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 767px) {
    .team-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 575px) {
    .team-card {
        width: 100%;
        margin-bottom: 20px;
    }
}



/* Contact us */

#contact-sec {
    background-color: #000000;
    height: auto;
    padding: 2em;
    text-align: center;
}

.map {
    height: 500px;
    width: 100%;
    border-radius: 20px;
    max-width: 700px;
    margin: 2em auto;
}

#contact-sec .parent-div a {
    color: rgb(100, 100, 100);
    font-size: 20px;
}

#contact-sec .parent-div h1 {
    color: rgb(100, 100, 100);
    font-size: 40px;
}

#contact-sec .parent-div .gmail-div,
#contact-sec .parent-div .facebook-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgb(53, 53, 53);
    padding: 20px
}

#contact-sec .parent-div a,
#contact-sec .parent-div a{
    font-size: 50px;
}


@media screen and (max-width: 1060px){
    #contact-sec .parent-div .gmail-div,
    #contact-sec .parent-div .facebook-div {
    flex-direction: column;
    }
}

@media screen and (max-width:800px){
    #contact-sec .parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 45px;
    }
    
    #contact-sec .parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 35px;
    }
}

@media screen and (max-width:750px){
    #contact-sec .parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 40px;
    }
    
    #contact-sec .parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 30px;
    }
}
@media screen and (max-width:650px){
    #contact-sec .parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 35px;
    }
    
    #contact-sec .parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 25px;
    }
}
@media screen and (max-width:675px){
    #contact-sec .parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 30px;
    }
    
    #contact-sec .parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
}
@media screen and (max-width:500px){
    #contact-sec .parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 25px;
    }
    
    #contact-sec .parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
}
@media screen and (max-width:435px){
    #contact-sec .parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
    
    #contact-sec .parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
}
@media screen and (max-width:370px){
    #contact-sec .parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 19px;
    }
    
    #contact-sec .parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 19px;
    }
}


/* Feedback */

.feedback-sec{
    width: 100%;
    height: 700px;
    background-color: #000000;
}

.feedback-sec{
    display: flex;
    justify-content: space-around;
    padding-top: 7em;
}

.feedback-sec .feedback-text-div h1{
    font-size: 65px;
    color: rgb(227, 227, 227);
}
.feedback-sec .feedback-text-div p{
    font-size: 50px;
    color: rgb(78, 78, 78);
}

.feedback-sec .feedback-div{
    text-align: center;
    border-radius: 20px;
}
.feedback-sec .feedback-div h1{
    font-size: 70px;
    color: rgb(100, 100, 100);
}

.feedback-sec .feedback-div input{
    border-radius: 5px;
    background-color: transparent;
    border: 0.5px solid rgb(100, 100, 100);
    outline: none;
    color: rgb(100, 100, 100);
    outline: none;
    height: 50px;
    padding: 20px;
    margin: 10px 0;
    transition: 0.5s;
}
.feedback-sec .feedback-div form div{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.feedback-sec .feedback-div form div #name, #surname{
    width: 48%;
}
.feedback-sec .feedback-div form div #name{
    margin-right: 20px;
}

.feedback-sec .feedback-div form{
    padding: 0 50px 10px 50px;
}

.feedback-sec .feedback-div button{
    border-radius: 5px;
    background-color: #000000; 
    outline: none;
    border: 1px solid rgb(100, 100, 100);
    width: 98%;
    height: 50px;
    color: #7e7e7e;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}
.feedback-sec .feedback-div button:hover{
    box-shadow:
    0 0 5px white,
    0 0 5px white,
    0 0 5px white;
}



@media screen and (max-width: 1350px){
    .feedback-sec{
        flex-direction: column;
    }    
    .feedback-sec .feedback-text-div{
        text-align: center;
    }
}

@media screen and (max-width: 700px){
    .feedback-sec .feedback-div h1{
        font-size: 50px;
    }
    .feedback-sec .feedback-text-div h1{
        font-size: 50px;
    }
    .feedback-sec .feedback-text-div p{
        font-size: 40px;
    }
}

@media screen and (max-width: 550px){
    
    .feedback-sec .feedback-div h1{
        font-size: 40px;
    }
    .feedback-sec .feedback-text-div h1{
        font-size: 40px;
    }
    .feedback-sec .feedback-text-div p{
        font-size: 30px;
    }
}
@media screen and (max-width: 300px){
    .feedback-sec .feedback-div h1{
        font-size: 30px;
    }
    .feedback-sec .feedback-text-div h1{
        font-size: 30px;
    }
    .feedback-sec .feedback-text-div p{
        font-size: 20px;
    }
}



/* footer */

footer{
    background-color: #0c0c0c;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
}


footer p{
    color: rgb(255, 255, 255);
    font-size: 15px;
}


@media screen and (max-width: 600px){
    footer p{
        color: grey;
        font-size: 10px;
    }
}

footer{
    overflow-y: hidden;
}







/* Animations */


h1, .link-a, p{
    opacity: 0;
    transition: all 1s ease-in-out;
  }
h1.show,.link-a.show, p.show{
    opacity: 1;
  }




/* Loading */


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

#text{
    font-size: 24px;
    font-family: 'IBM Plex Mono', monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgb(68, 255, 0);
    animation: typing 2s steps(100, end) infinite;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 11%}
}


@media screen and (max-width: 1200px){
    #text{
        font-size: 24px;
        font-family: 'IBM Plex Mono', monospace;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid rgb(68, 255, 0);
        animation: typing 2s steps(100, end) infinite;
    }
      
    @keyframes typing {
        from { width: 0 }
        to { width: 90% }
    }
}