@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');
@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-banner-quadrosquare-caps/css/bpg-banner-quadrosquare-caps.min.css");


@font-face {
    font-family: 'techno hideo';
    src: url(fonts/techno_hideo/techno_hideo.ttf);
}
@font-face {
    font-family: 'square';
    src: url(fonts/aldo_the_apache/AldotheApache.ttf);
}

@font-face{
    font-family: 'georgian';
    src: url(fonts/georgian/69_tall.ttf);
}

@font-face {
    font-family: 'hello world';
    src: url(fonts/hello_world/hello-world.ttf);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: 'ArchyEDT-Bold';
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #181818 ;
    cursor: url(img/cursor.png), auto;
}


.header {
    color: #fff;
    height: 100px;
    padding: 20px;
    width: 100%;
  }
  
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: fixed;
    padding: 12px 20px;
    background: linear-gradient(black, rgba(0, 0, 0, 0.7), transparent);
    z-index: 999;
}
.logo img {
    width: 35px;
    margin-right: 5px;
}


.logo a{
    font-size: 40px;
    display: flex;
    align-items: center;
    color: #d15c04;
}
.logo a span{
    color: transparent;
    -webkit-text-stroke: 1px #d15c04;

}
.menu {
    display: flex;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-family: 'ArchyEDT-Bold';
}
.menu li a:hover{
    text-shadow: 1px 1px 20px rgb(179, 42, 11);
}
.menu li a{
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    position: relative;
    color: #d15c04;
}



.menu li a{
    border-bottom: 2px solid transparent;
    position: relative;
  }
  
.menu li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d15c04;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  
.menu li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {
    display: none;
}



@media(max-width: 1150px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.2s ease-in-out;
        backdrop-filter: blur(15px);
        background-color: #0000007b;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}

}

.change-language-img{
    transition: 0.5s;
}
.change-language-img:hover{
    transform: rotate(360deg);
}



/* Main */

main #home-sec{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;
}
main .home-text-div{
    text-align: center;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 100px;
}

main .home-text-div h1{
    font-size: 130px;
    text-align: justify;
    color: transparent;
    -webkit-text-stroke: 1.5px #d15c04;
    text-align: center;
    margin-bottom: 50px;
    animation: floatwin 3s ease-in-out infinite;
}
@keyframes floatwin {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

@media screen and (max-width:500px){
    main .home-text-div h1{
        font-size: 80px;
    }
}



main .home-text-div a{
    color: #d15c04;
    font-size: 25px;
    padding: 20px;
    border: 2px solid #d15c04;
    border-radius: 20px;
    background-color: #d15c040e;
    transition: 0.5s;
    animation: colorchange 2s ease-in-out infinite;
}

@keyframes colorchange {
  0% {
    box-shadow:0 0 10px #d15d0400;
  }
  50% {
    box-shadow:0 0 20px #d15c04;
  }
  100% {
    box-shadow:0 0 10px #d15d0400;
  }
}

main .home-text-div a:hover{
    box-shadow: 0 0 10px orange;
}


#typewriter span{
    text-shadow:0 0 10px #d15c04;
}







/* About section */

#about-sec{
    background-color: #000000;
    padding: 50px;
    height: auto;
  }

#about-sec div{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-bottom: 50px;
}
#about-sec h1{
    font-size: 50px;
    margin: 40px 0;
    color: transparent;
    -webkit-text-stroke: 1px #d15c04;
    text-align: center;
}
#about-sec #about-image{
    margin: 0 auto;
    animation: floatwin 3s ease-in-out infinite;

}
#about-sec p{
    font-size: 35px;
    text-align: center;
    color: #d15c04;
}

@media screen and (min-width:1090px){
    #about-sec p{
        width: 55%;
    }
}

@media screen and (max-width:1090px){
    #about-sec div{
        flex-direction: column;
        text-align: center;
    }
    #about-sec{
        text-align: center;
    }
    #about-sec p{
        padding-top: 20px;
    }
}


@media screen and (max-width: 650px){
    #about-sec #about-image{
        width: 400px;
        height: 400px;
        margin: 0 auto;
        border-radius: 20px;
    }
}
@media screen and (max-width: 510px){
    #about-sec #about-image{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-radius: 20px;
    }
}
@media screen and (max-width: 450px){
    #about-sec #about-image{
        width: 250px;
        height: 250px;
        margin: 0 auto;
        border-radius: 20px;
    }
}

@media screen and (max-width: 380px){
    #about-sec #about-image{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 20px;
    }
    #about-sec p{
        padding-top: 2em;
        font-size: 20px;
        margin-top: 40px;
        text-align: justify;
        margin: 0 auto;
    }
    #about-sec h1{
        font-size: 30px;
        margin: 40px 0;
    }
}

@media screen and (max-width: 310px){
    #about-sec #about-image{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 20px;
    }
    #about-sec p{
        padding-top: 2em;
        font-size: 15px;
        margin-top: 40px;
        margin: 0 auto;
    }
    #about-sec h1{
        font-size: 20px;
        margin: 40px 0;
    }
}

/* Courses sec */

#course-sec{
    background-color: #000000;
}

.courses-a{
    text-align: center;
    color: #d15c04;
}



.course:hover .course-span a{
    color: #d15c04;
    font-size: 30px;
}

.course{
    display: flex;
    gap: 20px;
    width: 650px;
    border: 2px solid #d15c04;
    border-radius: 20px;
    padding: 15px;
    transition: 0.5s;
  }
.course:hover{
    box-shadow: 0 0 10px #d15c04;   
}
  
  .course h1,.course p{
    color: #d15c04;
  }
  .course-title span{
    color: transparent;
    -webkit-text-stroke:1px #d15c04;
    font-size: 30px;
  }
  
  .course-img{
    overflow: hidden;
  }
    
  .course-img img{
    height: 100%;
    width: 250px;
  
  }
  
  .courses-parent{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 20px;
    overflow: hidden;
    white-space: nowrap;
  }

@media screen and (max-width: 1350px){
    .courses-parent{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        gap: 20px;
        overflow: auto !important;
        white-space: nowrap;
      }
}

@media screen and (max-width: 390px){
    .course{
        width: 100%;
    }
}
  
  .course-see-more{
    font-size: 25px;
    color: #d15c04;
    transition: 0.3s;
  }
  .course-see-more:hover{
    color:#d15c04;
  }
  
  @media screen and (max-width: 670px){
    .course{
      justify-content: space-between;
    }
    .course-description{
      width: 80%;
    }
    .course-img img{
      width: 100%;
    }
    
  }
  
  @media screen and (max-width: 655px){
    .course-img{
      display: none;
    }
  }

.courses-last-a{
    text-align: center;
    padding: 50px;
  }

.courses-last-a-a{
    padding: 15px;
    border: 2px solid #d15c04;
    font-size: 20px;
    color: #d15c04;
    border-radius: 15px;
} 

.courses-last-a-a:hover{
    box-shadow: 0 0 10px #d15c04;
}

.course-see-more span {
    transition: transform 0.2s ease-in-out;
    transition: 1s;
  }
  
.course-see-more:hover span {
    padding-left: 10px;
  }
  




#title{
    color: transparent;
    -webkit-text-stroke: 1px #d15c04;
    font-size: 50px;
    padding-top: 1.7em;
    text-align: center;
    padding-bottom: 20px;
}




#contact-sec #parent-div a {
    color: rgb(100, 100, 100);
    font-size: 20px;
}

#contact-sec #parent-div h1{
    color: rgb(100, 100, 100);
    font-size: 40px;
}


#contact-sec #parent-div .gmail-div,
#contact-sec #parent-div .facebook-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgb(53, 53, 53);
    padding: 20px
}

#contact-sec #parent-div a,
#contact-sec #parent-div a{
    font-size: 50px;
}

.contact-logos-div img{
     width: 50px;
     margin-top: 10px;
     align-items: center;
     align-self: center;
}





@media screen and (max-width: 1060px){
    #contact-sec #parent-div .gmail-div,
    #contact-sec #parent-div .facebook-div {
    flex-direction: column;
    }
}

@media screen and (max-width:800px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 45px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 35px;
    }
}

@media screen and (max-width:750px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 40px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 30px;
    }
}
@media screen and (max-width:650px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 35px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 25px;
    }
}
@media screen and (max-width:675px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 30px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
}
@media screen and (max-width:500px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 25px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
}
@media screen and (max-width:435px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 20px;
    }
}
@media screen and (max-width:370px){
    #contact-sec #parent-div  a{
        color: rgb(100, 100, 100);
        font-size: 19px;
    }
    
    #contact-sec #parent-div h1 {
        color: rgb(100, 100, 100);
        font-size: 19px;
    }
}


/* Feedback */

#feedback-sec{
    width: 100%;
    height: auto;
    background-color: #000000;
    padding: 200px 0;
}

#feedback-sec{
    display: flex;
    justify-content: space-around;
    padding-top: 7em;
}

#feedback-sec .feedback-text-div h1{
    font-size: 65px;
    color: transparent;
    -webkit-text-stroke: 1px #d15c04;
}
#feedback-sec .feedback-text-div p{
    font-size: 50px;
    color: #d15c04;
}

#feedback-sec .feedback-div{
    text-align: center;
    border-radius: 20px;
}
#feedback-sec .feedback-div h1{
    font-size: 70px;
    color: transparent;
    -webkit-text-stroke: 1px #d15c04;
}

#feedback-sec .feedback-div input{
    border-radius: 5px;
    background-color: transparent;
    border: none;
    box-shadow: 1px 1px 1px #d15c04;
    outline: none;
    color: #d15c04;
    outline: none;
    height: 50px;
    padding: 20px;
    margin: 10px 0;
    transition: 0.5s;
}
#feedback-sec .feedback-div form div{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
#feedback-sec .feedback-div form div #name, #surname{
    width: 48%;
}
#feedback-sec .feedback-div form div #name{
    margin-right: 20px;
}

#feedback-sec .feedback-div form{
    padding: 0 50px 10px 50px;
}

#feedback-sec .feedback-div button{
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 0 5px #d15c04; 
    outline: none;
    border: none;
    width: 98%;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    color: #d15c04;
}
#feedback-sec .feedback-div button:hover{
    box-shadow:
    0 0 10px #d15c04;
}



@media screen and (max-width: 1350px){
    #feedback-sec{
        flex-direction: column;
    }    
    #feedback-sec .feedback-text-div{
        text-align: center;
    }
}

@media screen and (max-width: 700px){
    #feedback-sec .feedback-div h1{
        font-size: 50px;
    }
    #feedback-sec .feedback-text-div h1{
        font-size: 50px;
    }
    #feedback-sec .feedback-text-div p{
        font-size: 40px;
    }
}

@media screen and (max-width: 550px){
    
    #feedback-sec .feedback-div h1{
        font-size: 40px;
    }
    #feedback-sec .feedback-text-div h1{
        font-size: 40px;
    }
    #feedback-sec .feedback-text-div p{
        font-size: 30px;
    }
}
@media screen and (max-width: 300px){
    #feedback-sec .feedback-div h1{
        font-size: 30px;
    }
    #feedback-sec .feedback-text-div h1{
        font-size: 30px;
    }
    #feedback-sec .feedback-text-div p{
        font-size: 20px;
    }
}



/* footer */

footer{
    background-color: #0c0c0c;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
}


footer p{
    color: #d15c04;
    font-size: 15px;
}


@media screen and (max-width: 600px){
    footer p{
        color: grey;
        font-size: 10px;
    }
}

footer{
    overflow-y: hidden;
}


#banner-sec{
    height: 200px;
    width: 100%;
    background-color: #0000;
}




/* Animations */


  







/* Loading */


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
} */

/* .container h2{
    position: relative;
    font-size: 50px;
    color: #1a1a1a;
} */
.container img{
    width: 80px;
    animation: spin 1s infinite;
}
@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.container h2:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #d15c04;
    border-right: 2px solid #d15c04;
    overflow: hidden;
    animation: animate 1s  linear infinite;
}

@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}


/* scrollbar */

::-webkit-scrollbar {
    background-color: #1b1b1b;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #383838;
}



/* back */
body{
    background-color: #000000;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(1);
}
.home-sec video {
    width: 100%;
    height: 100%;
}
.home-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}





/* ----------- */

#message {
    display: none;
    position: fixed;
    padding: 300px 0;
    font-size: 50px;
    color: #d15c04;
    backdrop-filter: blur(10px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    
}
  
@media screen and (max-width: 800px){
    #message{
        font-size: 25px;
    }
}


