*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: black;
}

header{
    padding: 30px;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div h1{
    font-size: 50px;
}