@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'ArchyEDT-Bold';
}
@font-face {
    font-family: 'square';
    src: url(../fonts/aldo_the_apache/AldotheApache.ttf);
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  font-family: 'ArchyEDT-Bold';
}
body {
  font-family: "Poppins", sans-serif;
  --color1: #FFF ;
  --color2: #181818 ;
  background-color: black;
}
.header {
  color: #fff;
  height: 100px;
  padding: 20px;
  width: 100%;
  z-index: 99999 !important;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: fixed;
  padding: 12px 20px;
  background: linear-gradient(black, rgba(0, 0, 0, 0.7), transparent);
  z-index: 99999 !important;
}
.logo img {
  width: 35px;
  margin-right: 5px;
}
.logo a{
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #d15c04;
}
.logo a span{
  color: transparent;
  -webkit-text-stroke: 1px #d15c04;

}
.menu {
  display: flex;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  font-family: 'ArchyEDT-Bold';
}
.menu li a{
  padding: 10px 20px;
  text-align: center;
  font-size: 25px;
  position: relative;
  color: #d15c04;
}


.active{
  border: 1px solid #d15c04;
  border-radius: 10px;
}


.menu li .not-active{
  border-bottom: 2px solid transparent;
  position: relative;
}

.menu li .not-active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d15c04;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu li .not-active:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.open-menu , .close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}



@media(max-width: 1150px){
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 9999;
      transition: all 0.2s ease-in-out;
      backdrop-filter: blur(15px);
  }
  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}

}





#title{
    color: rgb(100, 100, 100);
    font-size: 50px;
    margin-top: 1.7em;
    text-align: center;
    padding-bottom: 20px;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    font-size: 18px;
    border: 1px solid #d15c04;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: 0.5s;
    color: #d15c04;
    background-color: #000000;
  }
  
  #myBtn:hover{
    box-shadow: 0 0 10px #d15c04;
  }





/* scrollbar */

::-webkit-scrollbar {
    background-color: #1b1b1b;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #383838;
}


/* main */

main{
  padding: 90px 50px;
}
.courses-detail-main-child-div-title-h1{
  color: #d15c04;
  font-size: 65px;
}
.courses-detail-main-child-div-title-h1 span{
  color: transparent;
  -webkit-text-stroke: 2px #d15c04;
}

.courses-detail-main-div-img{
  width: 50%;
  border: 1px solid #d15c04;
  border-radius: 10px;
}


.courses-detail-main-div{
  margin-top: 4.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.courses-detail-main-div-child2-div{
  width: 100%;
  height: 200px;
  background-color: transparent;
  border: 2px solid #d15c04;
  margin: 20px 0;
  border-radius: 10px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.courses-detail-main-div-second-bottom-div2{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.courses-detail-main-div-second-bottom-div2 a{
  background-color: transparent;
  border: 2px solid #d15c04;
  height: 80px;
  width: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses-detail-main-div-second-bottom-div2 div h1{
  color: #d15c04;
}



.first-div{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d15c04;
  padding-bottom: 30px;
}

.first-div h1{
  font-size: 23px;
}
.first-div p{
  font-size: 20px;
}

.first-div h1,p{
  color: #d15c04;
}


.second-div p{
  font-size: 20px;
}
.courses-detail-main-div-second-bottom-div2 a h1{
  transition: 0.5s;
}
.courses-detail-main-div-second-bottom-div2 a h1:hover{
  color: rgb(136, 136, 136);
}

/* ----------- */


.course-detail-h1{
  margin-top: 3.7em !important;
}
#detail-h1{
  color: #d15c04;
  font-size:  4em;
  margin-top: 1.4em;
}
.course-detail-p{
  color: #d15c04;
  font-size: 2em;
}



@media screen and (max-width:1313px){
  .courses-detail-main-div-img{
    display: none;
  }
  .courses-detail-main-div{
    justify-content: center !important;
  }
}

@media screen and (max-width: 630px){
  .first-div{
    flex-direction: column;
  }
  .courses-detail-main-div-child2-div{
    height: auto !important;
    text-align: center;
    padding: 20px 0;
  }
  .first-div{
    gap: 20px;
  }
  main{
    padding: 40px 20px 90px 20px !important;
  }
  .courses-detail-main-child-div-title-h1{
    font-size: 45px;
  }
  #detail-h1{
    font-size: 30px;
  }
  .course-detail-p{
    font-size: 20px;
  }
  .courses-detail-main-div-second-bottom-div2 h1{
    font-size: 17px;
  }
}
@media screen and (max-width: 330px){
  .courses-detail-main-child-div-title-h1{
    font-size: 35px;
  }
}




/* footer */

footer{
  background-color: #0c0c0c;
  width: 100%;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


footer p{
  color: #d15c04;
  font-size: 15px;
}


@media screen and (max-width: 600px){
  footer p{
      font-size: 10px;
  }
}

footer{
  overflow-y: hidden;
}
