@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: 'ArchyEDT-Bold';
}
@font-face {
    font-family: 'square';
    src: url(../fonts/aldo_the_apache/AldotheApache.ttf);
}
body{
    background-color: #000000;
}

.header {
    color: #fff;
    height: 100px;
    padding: 20px;
    width: 100%;
  }
  
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.781);
    padding: 12px 20px;
}
.logo img {
    width: 250px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 30px;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-family: 'ArchyEDT-Bold';
}
.menu li a{
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    position: relative;
    color: #11ff00;
}

.menu li .not-active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0BA300;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  
.menu li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }






#title{
    color: rgb(100, 100, 100);
    font-size: 50px;
    margin-top: 1.7em;
    text-align: center;
    padding-bottom: 20px;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(17, 0, 255);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: 0.5s;
  }
  
#myBtn:hover {
    background-color: 1px 1px 10px rgb(88, 88, 199);
}



#comingsoon{
    background-image: url(../img/comingsoon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* scrollbar */

::-webkit-scrollbar {
    background-color: #1b1b1b;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #383838;
}




/* COURSES... */

#course-sec{
    background-color: #000000;
    padding: 100px 0 20px 0px;
    width: 100%;
    height: 100vh;
    gap: 200px;
}

.courses-parent{
    display: flex;
    justify-content: space-around;
}

.course-img{
    width: auto;
    display: flex;
}
.course-img img{
    width: 600px;
    height: 420px;
}

.course{
    display: flex;
    gap: 10px;
    border: 2px solid grey;
    margin: 20px;
    padding: 40px 30px;
    border-radius: 20px;
}

.course-title{
    font-size: 35px;
    color: rgb(118, 118, 118);
}
.course-price{
    color: rgb(118, 118, 118);
    font-size: 20px;
}
.course-main-txt{
    overflow: hidden;
}

.course-main-txt p{
    padding: 5px 0;
    color: rgb(118, 118, 118);
    font-size: 15px;
}
.course-see-more{
    color: rgb(155, 155, 155)
}
.course-see-more {
    border-bottom: 2px solid transparent;
    position: relative;
  }
  
.course-see-more:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(131, 131, 131);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  
  .course-see-more:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  

.course-see-more{
    font-size: 30px;
}

@media screen and (max-width: 1500px){
    .courses-parent{
        flex-direction: column;
    }
    .course-img{
        width: auto;
        display: flex;
    }
    .course-img img{
        width: 500px;
        height: 420px;
    }
    
}

@media screen and (max-width: 630px){
    .course{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 400px){
    .course-img{
        width: auto;
        display: flex;
    }
    .course-img img{
        width: 500px;
        height: 300px;
    }
}