@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: 'ArchyEDT-Bold';
}
@font-face {
    font-family: 'square';
    src: url(../fonts/aldo_the_apache/AldotheApache.ttf);
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  font-family: 'ArchyEDT-Bold';
}
body {
  font-family: "Poppins", sans-serif;
  --color1: #FFF ;
  --color2: #181818 ;
  background-color: black;
}
.header {
  color: #fff;
  height: 100px;
  padding: 20px;
  width: 100%;
  z-index: 99999 !important;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: fixed;
  padding: 12px 20px;
  background: linear-gradient(black, rgba(0, 0, 0, 0.7), transparent);
  z-index: 99999 !important;
}
.logo img {
  width: 35px;
  margin-right: 5px;
}
.logo a{
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #d15c04;
}
.logo a span{
  color: transparent;
  -webkit-text-stroke: 1px #d15c04;

}
.menu {
  display: flex;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  font-family: 'ArchyEDT-Bold';
}
.menu li a{
  padding: 10px 20px;
  text-align: center;
  font-size: 25px;
  position: relative;
  color: #d15c04;
}


.active{
  border: 1px solid #d15c04;
  border-radius: 10px;
}


.menu li .not-active{
  border-bottom: 2px solid transparent;
  position: relative;
}

.menu li .not-active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d15c04;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu li .not-active:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.open-menu , .close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}



@media(max-width: 1150px){
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 9999;
      transition: all 0.2s ease-in-out;
      backdrop-filter: blur(15px);
  }
  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}

}





#title{
    color: rgb(100, 100, 100);
    font-size: 50px;
    margin-top: 1.7em;
    text-align: center;
    padding-bottom: 20px;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: 1px solid #d15c04;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: 0.5s;
    color: #d15c04;
    background-color: transparent;
  }
  
  #myBtn:hover{
    box-shadow: 0 0 10px #d15c04;
  }





/* scrollbar */

::-webkit-scrollbar {
    background-color: #1b1b1b;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #383838;
}


/* Search */
form{
  margin: 3em;
}

form input{
  outline: none;
  width: 100%;
  height: 60px;
  font-size: 20px;
  color: white;
  background: rgb(209,92,4);
  background: linear-gradient(90deg, rgb(102, 46, 3) 0%,  rgba(0, 0, 0, 0) 100%);
  border: none;
  padding: 0 20px;
  border-radius: 10px;
}






/* COURSES... */

#course-sec{
  width: 100%;
  height: 100%;
  padding: 20px 0;
  margin-top: 50px;
}

.course-main-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 20px;
  overflow: hidden !important;
}

.course-div{
  width: 450px;
  height: 630px;
  margin: 20px 0;
  border: 2px solid rgb(255, 77, 0);
  border-radius: 20px;
  transition: 0.5s;
  z-index: 1px !important;
}
.course-div:hover{
  transform: scale(1.01);
  box-shadow: 0 0 20px rgb(255, 77, 0);
}


.course-div .course-banner-img{
  border-radius: 20px;
  width: 100%;
}

.course-description{
  padding: 0 10px;
  margin: 0 20px;
  height: 300px;
  border-bottom: 1px solid rgb(255, 77, 0);
  position: relative;
}

.course-div .course-div-title{
  color: rgb(255, 77, 0);
  margin: 10px;
  font-size: 30px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.course-div .course-div-p{
  margin-top: 20px;
  color: rgb(218, 111, 65);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
}

.course-duration-div{
  bottom: 0;
  position: absolute;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.course-duration-div img{
  width: 40px;
  height: auto;
} 

.course-duration-child-div h1{
  color: rgb(218, 111, 65);
  font-size: 20px;
}
.course-duration-child-div p{
  color: rgb(218, 111, 65);
  font-size: 15px;
}

.course-last-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.course-last-div h1{
  color: rgb(218, 111, 65);
}

.course-last-div-h1-second{
  font-size: 20px;
  color: rgb(218, 111, 65);
}

.ourse-last-div-h1-second:hover .seemore-arrow{
  transform: translateX(10px);
  color: red;
}

@media screen and (max-width:560px){
  .course-div{
    width: 400px;
    height: 600px;
    overflow-y: hidden;
  }

}
@media screen and (max-width:440px){
  .course-div{
    height: 600px;
    overflow-y: hidden;
  }
  .course-description{
    height: 300px;
  }
}
@media screen and (max-width:425px){
  .course-description{
    height: 320px;
  }
  .course-div{
    height: 610px;
    overflow-y: hidden;
  }
  .course-div .course-div-title{
    font-size: 20px ;
  }
}
@media screen and (max-width:390px){
  .course-description{
    height: 310px;
  }
  .course-div{
    height: 560px;
    overflow-y: hidden;
  }
  .course-div .course-div-title{
    font-size: 20px ;
  }
}
@media screen and (max-width:330px){
  .course-description{
    height: 340px;
  }
  .course-div{
    height: 570px;
    overflow-y: hidden;
  }
  .course-div .course-div-title{
    font-size: 20px ;
  }
}
@media screen and (max-width:310px){
  .course-description{
    height: 350px;
  }
  .course-div{
    height: 580px;
    overflow-y: hidden;
  }
  .course-div .course-div-title{
    font-size: 20px ;
  }
}
@media screen and (max-width:305px){
  .course-description{
    height: 360px;
  }
  .course-div{
    height: 590px;
    overflow-y: hidden;
  }
  .course-div .course-div-title{
    font-size: 20px ;
  }
}
@media screen and (max-width:300px){
  .course-description{
    height: 370px;
  }
  .course-div{
    height: 550px;
    overflow-y: hidden;
  }
  .course-div .course-div-title{
    font-size: 20px ;
  }
}




/* footer */

footer{
  background-color: #0c0c0c;
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
}


footer p{
  color: #d15c04;
  font-size: 15px;
}


@media screen and (max-width: 600px){
  footer p{
      color: grey;
      font-size: 10px;
  }
}

footer{
  overflow-y: hidden;
}
