@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: 'ArchyEDT-Bold';
}
@font-face {
    font-family: 'square';
    src: url(../fonts/aldo_the_apache/AldotheApache.ttf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  font-family: 'ArchyEDT-Bold';
}
body {
  font-family: "Poppins", sans-serif;
  --color1: #FFF ;
  --color2: #181818 ;
  background-color: black;
}
.header {
  color: #fff;
  height: 100px;
  padding: 20px;
  width: 100%;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #0000007b;
  position: fixed;
  padding: 12px 20px;
}
.logo img {
  width: 250px;
}
.menu {
  display: flex;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  font-family: 'ArchyEDT-Bold';
}
.menu li a{
  padding: 10px 20px;
  text-align: center;
  font-size: 25px;
  position: relative;
  color: #2A9D8F;
}


.active{
  background-color: rgb(31, 31, 31);
}


.menu li .not-active{
  border-bottom: 2px solid transparent;
  position: relative;
}

.menu li .not-active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2A9D8F;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu li .not-active:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.open-menu , .close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}



@media(max-width: 1150px){
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      transition: all 0.2s ease-in-out;
      backdrop-filter: blur(15px);
  }
  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}

}

@media (max-width:550px){
  .nav-bar .logo img{
      width: 200px;
  }
}

@media (max-width:350px){
  .nav-bar .logo img{
      width: 150px;
  }

}





#title{
    color: rgb(100, 100, 100);
    font-size: 50px;
    margin-top: 1.7em;
    text-align: center;
    padding-bottom: 20px;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: 0.5s;
    backdrop-filter: blur(5px);
  }
  



#comingsoon{
    background-image: url(../img/comingsoon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* scrollbar */

::-webkit-scrollbar {
    background-color: #1b1b1b;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #383838;
}




/* COURSES... */

#course-sec{
    padding: 100px 0 20px 0px;
    width: 100%;
    height: 100%;
    gap: 200px;
}

/* ------------------- */

.course{
  display: flex;
  gap: 20px;
  width: 650px;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 15px;
  transition: 0.5s;
}
.course:hover{
  box-shadow: 1px 1px 10px white;   
}

.course h1,.course p{
  color: rgb(84, 84, 84);
}
.course-title span{
  color: white;
  font-size: 30px;
}

.course-img{
  overflow: hidden;
}
  
.course-img img{
  height: 100%;
  width: 250px;

}

.courses-parent{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
}

.course-see-more{
  font-size: 25px;
  color: rgb(152, 152, 152);
  transition: 0.3s;
}
.course-see-more:hover{
  color:rgb(255, 255, 255);
}
.course-see-more span {
  transition: transform 0.2s ease-in-out;
  transition: 1s;
}

.course-see-more:hover span {
  padding-left: 10px;
}

@media screen and (max-width: 670px){
  .course{
    justify-content: space-between;
  }
  .course-description{
    width: 80%;
  }
  .course-img img{
    width: 100%;
  }
  
}

@media screen and (max-width: 655px){
  .course-img{
    display: none;
  }
}



/* footer */

footer{
  background-color: #0c0c0c;
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
}


footer p{
  color: #2A9D8F;
  font-size: 15px;
}


@media screen and (max-width: 600px){
  footer p{
      color: grey;
      font-size: 10px;
  }
}

footer{
  overflow-y: hidden;
}
